{
  "extends": ["oclif", "oclif-typescript"],
  "rules": {
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "never"
      }
    ],
    "object-curly-spacing": "off",
    "semi": "off",
    "arrow-parens": ["error", "always"]
  }
}
